.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.closeIcon{
  background-image:url('images/close.svg');
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
  width: 24px;
  height: 24px;
}
