.ordersPageWrapper{
  display: grid;
  grid-template-columns: 50% 50%;
  grid-gap: 60px;
  max-width: var(--maxIfaceWidth);
}
.ordersWrapper{
  height: calc(100vh - 88px);
  display: flex;
  flex-flow: column;
}

.ordersList{
  display: flex;
  flex-flow: column;
  gap: 16px;
  overflow-y: scroll;
  margin-bottom: var(--pageBottomMargin);
}
