.wrapper{
  display: flex;
  gap: 60px;
  align-items: center;
  max-width: var(--maxIfaceWidth);
}
.menu{
  width: 320px;
}
.menuItem{
  height: 64px;
  display: flex;
  align-items: center;
}

.userInfo{

}
.menuDisclaimer{
  opacity: 0.4;
}
.logout{
  cursor: pointer;
}
.actionButtons{
  display: flex;
  justify-content: flex-end;
}
